# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish_artifacts:
    name: Publish Artifacts
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Upload iac artifacts
        uses: actions/upload-artifact@v3
        with:
          name: iac_artifacts
          path: databricks/iac/
          if-no-files-found: error
          retention-days: 1

      - name: Upload src artifacts
        uses: actions/upload-artifact@v3
        with:
          name: src_artifacts
          path: databricks/src/
          if-no-files-found: error
          retention-days: 1

  deploy-dev:
    name: Deploy Dev Environment
    needs: publish_artifacts
    uses: ./.github/workflows/deploy-databricks.yml
    with:
      env_name: dev
      resource_group_location: northeurope
      databricks-host: "https://adb-7530374090854046.6.azuredatabricks.net"
    secrets:
      pat: ${{ secrets.DATABRICKS_PAT }}
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  deploy-qa:
    name: Deploy QA Environment
    needs: deploy-dev
    uses: ./.github/workflows/deploy-databricks.yml
    with:
      env_name: qa
      resource_group_location: northeurope
      databricks-host: "https://adb-8049117000605825.5.azuredatabricks.net"
    secrets:
      pat: ${{ secrets.DATABRICKS_PAT }}
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

  deploy-prod:
    name: Deploy Production Environment
    needs: deploy-qa
    uses: ./.github/workflows/deploy-databricks.yml
    with:
      env_name: production
      resource_group_location: northeurope
      databricks-host: "https://adb-1026900206524696.16.azuredatabricks.net"
    secrets:
      pat: ${{ secrets.DATABRICKS_PAT }}
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
